vendor/
frontend/wp/
frontend/wp-content/*.php
frontend/wp-content/backups/
frontend/wp-content/languages/
frontend/wp-content/uploads/
frontend/wp-content/plugins/*
!frontend/wp-content/plugins/company-x*/
frontend/wp-content/themes/*
!frontend/wp-content/themes/company-x/
frontend/wp-content/mu-plugins/
composer.lock
sitemap.xml
*.log
.buildpath
.project
.settings
._*
.DS_Store
Thumbs.db
.autoenv
pco.json
